<%= form_with(url: words_search_path, local: true) do |form| %>
  <div class="search">
    <%= form.text_field "word[txt]", value: word.txt %>
    <%= form.submit("Search") %>

    <% if word.errors.any? %>
        <div>
          <ul>
            <% word.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>
<% end %>
