<h1>Dictionary Search</h1>

<%= render 'form', word: @word %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="section main">
  <% if ! @word.new_record? %>
      <h3>Definition for '<%= @word.txt %>'</h3>

      <ul>
        <% @word.categories.each do |category| %>
            <li>
              Category: <%= category.category %>

              <br /> Definitions
              <ol>
                <% category.definitions.each do |definition| %>
                    <li>
                      <%= definition.definition %>

                      <% if ! definition.examples.blank? %>
                          <br /> Examples
                          <ul>
                            <% definition.examples.each do |example| %>
                                <li><%= example.example %></li>
                            <% end %>
                          </ul>
                      <% end %>
                    </li>
                <% end %>
              </ol>
            </li>
        <% end %>
      </ul>
  <% end %>
  <br/>
</div>
<div class="section side">
  <table>
    <thead>
      <tr>
        <th>Recently searched words</th>
      </tr>
    </thead>
    <tbody>
      <% Word.order("created_at DESC").each do |word| %>
        <tr>
          <td><%= link_to word.txt, :action => "home", :wd => word.txt %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

