// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  margin: 5px;
  font-weight: bold;
  font-style: italic;
}
.section {
  float: left;
}

.main {
  width: 65%;
}

.side {
  width: 30%;

}